:root {
    --com-crif-kremo-web-datepicker-color: #385e8e;
    --com-crif-kremo-web-datepicker-bg-color: #385e8e;
    --com-crif-kremo-web-link-color: #5fa0d6;
    --com-crif-kremo-web-link-color-hover: #5fa0d6;
    --com-crif-kremo-web-mat-slider-color: #315b91;
    --com-crif-kremo-web-mat-slider-border-color: #72a2c7;
    --com-crif-kremo-web-tab-color: #385e8e;
    --com-crif-kremo-web-tab-border-color: #7dadc7;
    --com-crif-kremo-web-button-toggle-bg-color: #d6ebfb;
    --com-crif-kremo-web-button-toggle-border-color: #a9cbe2;
    --com-crif-kremo-web-button-toggle-border-color-active: #628daf;
    --com-crif-kremo-web-button-toggle-color: #26466d;
    --com-crif-kremo-web-mat-slide-toggle-bar-bg-color: #dcedfb;
    --com-crif-kremo-web-result-box-bg-color: #cee5f7;
    --com-crif-kremo-web-result-box-border-color: #a2bddc ;
    --com-crif-kremo-web-loading-image-bg-color: #3d6ba5;
    --com-crif-kremo-web-primary-color: #3d6ba5;
    --com-crif-kremo-web-base-ghost-loading-color: rgba(201, 223, 242, 0.863);
    --com-crif-kremo-web-btn-focus-shadow-color: rgba(61,107,165,.25);
    --com-crif-kremo-web-page-not-found-heading-color: #3d6ba5;
    --com-crif-kremo-web-mat-custom-secondary-color-50: #ecf4f8;
    --com-crif-kremo-web-mat-custom-secondary-color-100: #d0e3ee;
    --com-crif-kremo-web-mat-custom-secondary-color-200: #b1d1e2;
    --com-crif-kremo-web-mat-custom-secondary-color-300: #92bfd6;
    --com-crif-kremo-web-mat-custom-secondary-color-400: #7ab1ce;
    --com-crif-kremo-web-mat-custom-secondary-color-500: #63a3c5;
    --com-crif-kremo-web-mat-custom-secondary-color-600: #5b9bbf;
    --com-crif-kremo-web-mat-custom-secondary-color-700: #5191b8;
    --com-crif-kremo-web-mat-custom-secondary-color-800: #4788b0;
    --com-crif-kremo-web-mat-custom-secondary-color-900: #3577a3;
    --com-crif-kremo-web-mat-custom-secondary-color-A100: #eef8ff;
    --com-crif-kremo-web-mat-custom-secondary-color-A200: #bbe2ff;
    --com-crif-kremo-web-mat-custom-secondary-color-A400: #88cdff;
    --com-crif-kremo-web-mat-custom-secondary-color-A700: #6ec2ff;
    --com-crif-kremo-web-mat-custom-secondary-color-contrast-50: #000000;
    --com-crif-kremo-web-mat-custom-secondary-color-contrast-100: #000000;
    --com-crif-kremo-web-mat-custom-secondary-color-contrast-200: #000000;
    --com-crif-kremo-web-mat-custom-secondary-color-contrast-300: #000000;
    --com-crif-kremo-web-mat-custom-secondary-color-contrast-400: #000000;
    --com-crif-kremo-web-mat-custom-secondary-color-contrast-500: #000000;
    --com-crif-kremo-web-mat-custom-secondary-color-contrast-600: #000000;
    --com-crif-kremo-web-mat-custom-secondary-color-contrast-700: #000000;
    --com-crif-kremo-web-mat-custom-secondary-color-contrast-800: #ffffff;
    --com-crif-kremo-web-mat-custom-secondary-color-contrast-900: #ffffff;
    --com-crif-kremo-web-mat-custom-secondary-color-contrast-A100: #000000;
    --com-crif-kremo-web-mat-custom-secondary-color-contrast-A200: #000000;
    --com-crif-kremo-web-mat-custom-secondary-color-contrast-A400: #000000;
    --com-crif-kremo-web-mat-custom-secondary-color-contrast-A700: #000000;
    --com-crif-kremo-web-mat-custom-primary-color-50: #ecf4fa;
    --com-crif-kremo-web-mat-custom-primary-color-100: #cee3f3;
    --com-crif-kremo-web-mat-custom-primary-color-200: #aed0ec;
    --com-crif-kremo-web-mat-custom-primary-color-300: #8ebde4;
    --com-crif-kremo-web-mat-custom-primary-color-400: #75afde;
    --com-crif-kremo-web-mat-custom-primary-color-500: #5da1d8;
    --com-crif-kremo-web-mat-custom-primary-color-600: #5599d4;
    --com-crif-kremo-web-mat-custom-primary-color-700: #4b8fce;
    --com-crif-kremo-web-mat-custom-primary-color-800: #4185c8;
    --com-crif-kremo-web-mat-custom-primary-color-900: #3074bf;
    --com-crif-kremo-web-mat-custom-primary-color-A100: #ffffff;
    --com-crif-kremo-web-mat-custom-primary-color-A200: #d0e6ff;
    --com-crif-kremo-web-mat-custom-primary-color-A400: #9dcaff;
    --com-crif-kremo-web-mat-custom-primary-color-A700: #84bcff;
    --com-crif-kremo-web-mat-custom-primary-color-contrast-50: #000000;
    --com-crif-kremo-web-mat-custom-primary-color-contrast-100: #000000;
    --com-crif-kremo-web-mat-custom-primary-color-contrast-200: #000000;
    --com-crif-kremo-web-mat-custom-primary-color-contrast-300: #000000;
    --com-crif-kremo-web-mat-custom-primary-color-contrast-400: #000000;
    --com-crif-kremo-web-mat-custom-primary-color-contrast-500: #000000;
    --com-crif-kremo-web-mat-custom-primary-color-contrast-600: #000000;
    --com-crif-kremo-web-mat-custom-primary-color-contrast-700: #000000;
    --com-crif-kremo-web-mat-custom-primary-color-contrast-800: #ffffff;
    --com-crif-kremo-web-mat-custom-primary-color-contrast-900: #ffffff;
    --com-crif-kremo-web-mat-custom-primary-color-contrast-A100: #000000;
    --com-crif-kremo-web-mat-custom-primary-color-contrast-A200: #000000;
    --com-crif-kremo-web-mat-custom-primary-color-contrast-A400: #000000;
    --com-crif-kremo-web-mat-custom-primary-color-contrast-A700: #000000;
}
